<nav class="d-flex justify-content-around align-items-center bg-primary text-light py-1">
    <a href="https://www.slu.edu/">
        <img src="/assets/logo_white.png" alt="https://www.slu.edu/" height="55">
    </a>
    <% if (home_page) { %> 
        <a href="/claim-merch" class="btn btn-outline-light">Claim</a>
    <% } else {%>
        <a href="/" class="btn btn-outline-light">Back</a> 
    <% } %>
</nav>