<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container d-flex flex-column align-items-center my-3">
        <h3 class="mb-4">Claim Your Merchandise</h3>
        <form action="/claim-merch" method="POST" class="p-3 fw-bold border rounded" style="width: 100%; max-width: 60rem;">
            <div class="mb-3">
                <label for="cf01" class="form-label">Application ID<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf01" name="application_id" required>
            </div>
            <label class="form-label">Application type<span class="text-danger">*</span></label>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cf02-01" name="application_type" value="admit" checked>
                    <label class="form-check-label" for="cf02-01">Admit</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cf02-02" name="application_type" value="deposit">
                    <label class="form-check-label" for="cf02-02">Deposit</label>
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <label for="cf03" class="form-label">Full name (First and last name)<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf03" name="full_name" required>
            </div>
            <div class="mb-3">
                <label for="cf04" class="form-label">Email address<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="cf04" name="email" required>
            </div>
            <div class="mb-3">
                <label for="cf05-01" class="form-label">Mobile number<span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="cf05-01" name="contact_1" placeholder="(+xxx) xxxxx xxxxx" required>
            </div>
            <div class="mb-3" id="alt_contact">
                <button type="button" class="btn btn-secondary" onclick="addAltContact()">+ Add alternate contact number</button>
            </div>
            <hr>
            <div class="mb-3">
                <label for="cf06" class="form-label">Flat, House no., Building, Company, Apartment<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf06" name="street_1" required>
            </div>
            <div class="mb-3">
                <label for="cf07" class="form-label">Area, Street, Sector, Village</label>
                <input type="text" class="form-control" id="cf07" name="street_2">
            </div>
            <div class="mb-3">
                <label for="cf08" class="form-label">Landmark</label>
                <input type="text" class="form-control" id="cf08" name="landmark" placeholder="Eg. near appolo hospital">
            </div>
            <div class="mb-3">
                <label for="cf09" class="form-label">Pin/Zip code<span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="cf09" name="pin_code" placeholder="6 digits [0-9]" required>
            </div>
            <div class="mb-3">
                <label for="cf10" class="form-label">Town/City<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf10" name="city" required>
            </div>
            <div class="mb-3">
                <label for="cf11" class="form-label">State<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf11" name="state" required>
            </div>
            <div class="mb-3">
                <label for="cf12" class="form-label">Country<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cf12" name="country" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
<script>
    function addAltContact() {
        document.getElementById('alt_contact').innerHTML = `<label for="cf05-02" class="form-label">Alternate contact</label><input type="number" class="form-control" id="cf05-02" name="contact_2" placeholder="(+xxx) xxxxx xxxxx">`;
    }
</script>

</html>